<launch>

    <!-- Load robot's environment ............................................................. -->
    <!-- Not needed for real robots -->

    <!-- Other dependencies like sensors or hardware IO can be added here ..................... -->

    <!-- DataSpeed DBW .....................................................-->
    <include file="$(find dbw_polaris_can)/launch/dbw.launch">
        <arg name="load_urdf" value="false" />
    </include>
    <!-- .................................................................. -->

    <!-- USB Camera: Starvis 1 Arducam - using Simple Camera Publisher .....-->
    <node name="cam_pub" pkg="simple_camera_publisher" type="cam_pub" respawn="true"
        respawn_delay="10" output="screen">
        <!-- Use device path from /dev/v4l/by-id/ -->
        <param name="source" type="string"
            value="/dev/v4l/by-id/usb-Arducam_Technology_Co.__Ltd._USB_2.0_Camera_SN0001-video-index0" />
    </node>
    <!-- .................................................................. -->


    <!-- Simple node for publishing white pixel percentage of input image. -->
    <!-- For Demo purposes... -->
    <group>
        <node name="white_pixel_percent" pkg="stop_at_cw_pkg" type="white_pixel_percent.py"
            required="true" output="screen">
            <param name="imgtopic_name" type="str" value="/cam_pub/image_raw" />
        </node>
    </group>

</launch>