<launch>

    <!-- Load robot's environment ............................................................. -->
    <include file="$(find gazelle_sim_crosswalk)/launch/crosswalk.launch" />

    <!-- Other dependencies like sensors or hardware IO can be added here ..................... -->

    <!-- Simple node for publishing grayscale images with white pixel percentage -->
    <!-- For Demo purposes... -->
    <group ns="robot1">
        <include file="$(find ros_cv_tools)/launch/filter_grayscale_binary.launch">
            <arg name="input_image_topic" value="camera/image_raw" />
            <arg name="output_image_topic" value="filtered_images/grayscale_binary_image" />
            <arg name="white_percent_topic"
                value="filtered_images/grayscale_binary_image/white_percent" />
        </include>
    </group>

</launch>